.accordions-wrapper-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
}

.accordions-wrapper-about .accordion {
    border-radius: 5px;
}

.accordions-wrapper-about .accordion-title {
    border-radius: 5px;
}

.accordions-wrapper-about .accordion-title p {
    font-size: 24px;
    font-weight: 400;
}

.accordions-wrapper-about .accordion-description {
    font-size: 22px;
    font-weight: 400;
}

.accordions-wrapper-about .accordion-description {
    border-radius: 5px;
    padding: 20px 15px;
}