header {
    padding: 35px 85px 0 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header .logo {
    height: 60px;
}

.menu {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

header a:focus {
    text-decoration: underline;
}