@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  main {
    padding: 0 7%;
  }
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0 5%;
  }
}

@import "./utils/variables";
@import "./layouts/Header";
@import "./components/Banner";
@import "./components/LocationList";
@import "./components/Collapse";
@import "./components/Slideshow";
@import "./components/Tags";
@import "./components/Rating";
@import "./layouts/Footer";
@import "./pages/Home";
@import "./pages/About";
@import "./pages/LocationDetails";
@import "./components/Error";